@import 'mixins/colors.scss', 'mixins/fonts.scss', 'mixins/headers.scss', 'mixins/paragraphs.scss', 'mixins/card_mixin.scss';


html{
	background-color: $background-color;
}


/* Header */
.intro{
	background: url(./Assets/header.jpg);
	background-repeat: no-repeat;
	background-size: 100% 95%;
	color: $primary-color;
	width: 1720px;
	height: 1386px;
	position: relative;
}

.intro h1{
	position: absolute;
	top: 10%;
	left: 5%;
}

.intro h2{
	position: absolute;
	top: 29%;
	left: 5%;
}
.summary{
	position: absolute;
	top: 55%;
	left: 5%;
	max-width: 800px;
}

.preamble{
	position: relative;
	top: 80%;
	left: 0%;
	background-color: $background-color;
	padding: 1em 0em 1em 0em;
}

.main.supporting{
	margin-top: 20rem;
}


.sidebar{
	width: 100%;
}

.wrapper {
	display: flex;
	flex-direction: row; 
	width: 100%;
	justify-content: space-around;
	align-items: center;
	background: url('Assets/mw.jpeg');
	background-size: 100% 100%;
	width: 1720px;
	height: 1386px;
}


.design-selection{
	@include card();
}

.design-selection .select{
	&.select::before{
		content: '';
		position: absolute;
		background-color: rgba(217, 217, 217, 0.4);
		backdrop-filter: blur(2px);
		width: 370px;
		height: 90px;
		z-index: -1;
		border-radius: 10px;
		opacity: 1;
		transition: opacity 2s;
	}
}
.design-selection:hover .select{
	&.select::before{
		content: '';
		opacity: 0;
		transition: opacity 0.2s;
	}
}



.select {
	@include front-side('Assets/a.jpg');
	color: #F0A738;
	font-size: 34px;
	z-index: 1;
}



/* back-side */
nav[role=navigation] { 
    @include back-side();
  }



  /* front-side  - hover*/
.design-selection:hover {

	.select {
		@include front-side-hover();
		.select~.select::before{
			content:none;
		}
	}
}

/* back-side - hover*/

.design-selection:hover {

	nav[role="navigation"] {
		@include back-side-hover();
	}
}







/* ---------SECOND CARD*----------------*/
.design-archives{
	@include card();
}

.archives{
	@include front-side('Assets/222.jpg');
	color: #F0A738;
	font-size: 34px;
	z-index: 1;
}

.design-archives .archives{
	&.archives::before{
		content: '';
		position: absolute;
		background-color: rgba(217, 217, 217, 0.4);
		backdrop-filter: blur(2px);
		width: 370px;
		height: 90px;
		z-index: -1;
		border-radius: 10px;
		opacity: 1;
		transition: opacity 2s;
	}
}
.design-archives:hover .archives{
	&.archives::before{
		content: '';
		opacity: 0;
		transition: opacity 0.2s;
	}
}


.design-archives {

	nav[role="navigation"]
	{
		@include back-side();
	}
  }

.design-archives:hover {

	.archives {
		@include front-side-hover();
	}
	
	
}
.design-archives:hover {
	nav[role="navigation"] {
		@include back-side-hover();		
	}
}






/*----------------------Third for you*----------------------/
/* whole card with two sides */
#zen-resources {
	@include card();
}


#zen-resources .resources{
	&.resources::before{
		content: '';
		position: absolute;
		background-color: rgba(217, 217, 217, 0.4);
		backdrop-filter: blur(2px);
		width: 370px;
		height: 90px;
		z-index: -1;
		border-radius: 10px;
		opacity: 1;
		transition: opacity 2s;
	}
}

#zen-resources:hover .resources{
	&.resources::before{
		content: '';
		opacity: 0;
		transition: opacity 0.2s;
	}
}
.resources{ //, #zen-resources>ul
	@include front-side('Assets/3.jpg');
	color: #F0A738;
	font-size: 34px;
	z-index: 1;
}

#zen-resources ul{
	@include back-side();
	padding: 0px;
  }

#zen-resources:hover .resources {
	@include front-side-hover();
}

 #zen-resources:hover>ul{
	@include back-side-hover();
}


// @keyframes fronte {
// 	from { z-index: 2; opacity:1;}
// 	to { z-index: -1; opacity: 0.4;}
//   }