@import 'mixins/colors.scss', 'mixins/fonts.scss', 'mixins/headers.scss', 'mixins/paragraphs.scss',  'main/main.css'
, 'header/header.css', 'footer/footer.scss', 'footer/footer.css';
html {
	width: 1200px;
	margin: 0 auto;
	background-color: rgb(31, 30, 30);
}


header{
	display: flex;
}


.sidebar{
	width: 100%;
}
