@import 'mixins/colors.scss', 'mixins/fonts.scss', 'mixins/headers.scss', 'mixins/paragraphs.scss', 'mixins/card_mixin.scss';
.select /*front */
{
    @include card();
}

/* back-side */
nav[role="navigation"] { 
    @include front-back()
  }

  /* front-side  - hover*/
.design-selection:hover .select  {
	transform: rotateY(180deg);
	border-radius: 20px;
}

/* back-side - hover*/
.design-selection:hover nav[role="navigation"]  {
	transform: rotateY(360deg);
	background-color: black;
	border-radius: 20px;
	
}