@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit&family=Montserrat&family=Orbitron:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit&family=Montserrat&family=Orbitron:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit&family=Montserrat&family=Orbitron:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit&family=Montserrat&family=Orbitron:wght@600&display=swap");
@import '../mixins/paragraphs.css';
@import 'main/main.css';
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit&family=Montserrat&family=Orbitron:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit&family=Montserrat&family=Orbitron:wght@600&display=swap");
@import 'header/header.css';
@import 'footer/footer.css';
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit&family=Montserrat&family=Orbitron:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit&family=Montserrat&family=Orbitron:wght@600&display=swap");
h3 {
  font-family: "Orbitron", sans-serif;
  color: #56FF67;
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
}

h2 {
  font-family: "Orbitron", sans-serif;
  color: #F2F6F8;
  font-weight: 400;
  font-size: 2vw;
  letter-spacing: -0.0022em;
  margin-top: 33px;
  padding-left: 100px;
}

h1 {
  font-family: "Bebas Neue";
  color: #F2F6F8;
  font-weight: 600;
  font-size: 6vw;
  letter-spacing: -0.025em;
}

@media only screen and (max-width: 64em) {
  h3 {
    font-size: 26px;
  }
}
@media only screen and (max-width: 48em) {
  h3 {
    font-size: 22px;
  }
}
@media only screen and (min-width: 40em) {
  h3 {
    font-size: 22px;
  }
}
p {
  display: inline;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: #F2F6F8;
  letter-spacing: 3px;
}

a {
  color: #6fffe9;
  -webkit-text-decoration: dashed;
          text-decoration: dashed;
  font-family: "Orbitron", sans-serif;
}

@media only screen and (max-width: 48em) {
  p {
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 2px;
  }
  a {
    color: #6fffe9;
    -webkit-text-decoration: dashed;
            text-decoration: dashed;
    font-family: "Orbitron", sans-serif;
    font-size: 15px;
  }
}
/* Andrew Wright's section */
/*Test 1,2,3*/
h3 {
  font-family: "Orbitron", sans-serif;
  color: #56FF67;
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
}

h2 {
  font-family: "Orbitron", sans-serif;
  color: #F2F6F8;
  font-weight: 400;
  font-size: 2vw;
  letter-spacing: -0.0022em;
  margin-top: 33px;
  padding-left: 100px;
}

h1 {
  font-family: "Bebas Neue";
  color: #F2F6F8;
  font-weight: 600;
  font-size: 6vw;
  letter-spacing: -0.025em;
}

@media only screen and (max-width: 64em) {
  h3 {
    font-size: 26px;
  }
}
@media only screen and (max-width: 48em) {
  h3 {
    font-size: 22px;
  }
}
@media only screen and (min-width: 40em) {
  h3 {
    font-size: 22px;
  }
}
p {
  display: inline;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: #F2F6F8;
  letter-spacing: 3px;
}

a {
  color: #6fffe9;
  -webkit-text-decoration: dashed;
          text-decoration: dashed;
  font-family: "Orbitron", sans-serif;
}

@media only screen and (max-width: 48em) {
  p {
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 2px;
  }
  a {
    color: #6fffe9;
    -webkit-text-decoration: dashed;
            text-decoration: dashed;
    font-family: "Orbitron", sans-serif;
    font-size: 15px;
  }
}
.main {
  border: 5px solid #56FF67;
  border-top: none;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.explanation {
  display: grid;
  background-color: #292929;
  padding-top: 50px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, min-max(100px, auto));
  display: grid;
  height: -moz-fit-content;
  height: fit-content;
}
.explanation h3 {
  max-width: 400px;
  text-align: center;
  grid-column: 1;
  grid-row: 1;
  align-self: flex-start;
  margin-top: 0px;
}
.explanation p:nth-child(2) {
  grid-column: 2;
  grid-row: 1;
  margin-right: 50px;
}
.explanation p:nth-child(3) {
  grid-column: 2;
  grid-row: 2;
  margin-right: 50px;
}

.participation {
  display: grid;
  background-color: #292929;
  padding-top: 50px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, min-max(100px, auto));
  display: grid;
  height: -moz-fit-content;
  height: fit-content;
}
.participation h3 {
  max-width: 400px;
  text-align: center;
  grid-column: 1;
  grid-row: 1;
  align-self: flex-start;
  margin-top: 0px;
}
.participation p:nth-child(2) {
  grid-column: 2;
  grid-row: 1;
  margin-right: 50px;
}
.participation p:nth-child(3) {
  grid-column: 2;
  grid-row: 2;
  margin-right: 50px;
}
.participation p:nth-child(4) {
  grid-column: 2;
  grid-row: 3;
  margin-right: 50px;
}

.benefits {
  display: grid;
  background-color: #292929;
  padding-top: 50px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, min-max(100px, auto));
  display: grid;
  height: -moz-fit-content;
  height: fit-content;
}
.benefits h3 {
  max-width: 400px;
  text-align: center;
  grid-column: 1;
  grid-row: 1;
  align-self: flex-start;
  margin-top: 0px;
}
.benefits p:nth-child(2) {
  grid-column: 2;
  grid-row: 1;
  margin-right: 50px;
}

.requirements {
  display: grid;
  background-color: #292929;
  padding-top: 50px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, min-max(100px, auto));
  display: grid;
  height: -moz-fit-content;
  height: fit-content;
}
.requirements h3 {
  max-width: 400px;
  text-align: center;
  grid-column: 1;
  grid-row: 1;
  align-self: flex-start;
  margin-top: 0px;
}
.requirements p:nth-child(2) {
  grid-column: 2;
  grid-row: 1;
  margin-right: 50px;
}
.requirements p:nth-child(3) {
  grid-column: 2;
  grid-row: 2;
  margin-right: 50px;
}
.requirements p:nth-child(4) {
  grid-column: 2;
  grid-row: 3;
  margin-right: 50px;
}
.requirements p:nth-child(5) {
  grid-column: 2;
  grid-row: 4;
  margin-right: 50px;
}
.requirements p:nth-child(6) {
  display: none;
}

@media only screen and (max-width: 48em) {
  .explanation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .explanation h3 {
    align-self: center;
    margin: 20px;
  }
  .explanation p:nth-child(2) {
    margin: 0px 50px 0px 50px;
  }
  .explanation p:nth-child(3) {
    margin: 0px 50px 0px 50px;
  }
  .participation {
    display: flex;
    flex-direction: column;
  }
  .participation h3 {
    align-self: center;
    margin: 20px;
  }
  .participation p:nth-child(2) {
    margin: 0px 50px 0px 50px;
  }
  .participation p:nth-child(3) {
    margin: 0px 50px 0px 50px;
  }
  .participation p:nth-child(4) {
    margin: 0px 50px 0px 50px;
  }
  .benefits {
    display: flex;
    flex-direction: column;
  }
  .benefits h3 {
    align-self: center;
    margin: 20px;
  }
  .benefits p:nth-child(2) {
    margin: 0px 50px 0px 50px;
  }
  .requirements {
    display: flex;
    flex-direction: column;
  }
  .requirements h3 {
    align-self: center;
    margin: 20px;
  }
  .requirements p:nth-child(2) {
    margin: 0px 50px 0px 50px;
  }
  .requirements p:nth-child(3) {
    margin: 0px 50px 0px 50px;
  }
  .requirements p:nth-child(4) {
    margin: 0px 50px 0px 50px;
  }
  .requirements p:nth-child(5) {
    margin: 0px 50px 0px 50px;
  }
  .requirements p:nth-child(6) {
    display: none;
  }
}
h3 {
  font-family: "Orbitron", sans-serif;
  color: #56FF67;
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
}

h2 {
  font-family: "Orbitron", sans-serif;
  color: #F2F6F8;
  font-weight: 400;
  font-size: 2vw;
  letter-spacing: -0.0022em;
  margin-top: 33px;
  padding-left: 100px;
}

h1 {
  font-family: "Bebas Neue";
  color: #F2F6F8;
  font-weight: 600;
  font-size: 6vw;
  letter-spacing: -0.025em;
}

@media only screen and (max-width: 64em) {
  h3 {
    font-size: 26px;
  }
}
@media only screen and (max-width: 48em) {
  h3 {
    font-size: 22px;
  }
}
@media only screen and (min-width: 40em) {
  h3 {
    font-size: 22px;
  }
}
p {
  display: inline;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: #F2F6F8;
  letter-spacing: 3px;
}

a {
  color: #6fffe9;
  -webkit-text-decoration: dashed;
          text-decoration: dashed;
  font-family: "Orbitron", sans-serif;
}

@media only screen and (max-width: 48em) {
  p {
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 2px;
  }
  a {
    color: #6fffe9;
    -webkit-text-decoration: dashed;
            text-decoration: dashed;
    font-family: "Orbitron", sans-serif;
    font-size: 15px;
  }
}
/*--------------------- Header---------------- */
.intro {
  max-width: 1200px;
  min-height: 850px;
  color: #F2F6F8;
  min-height: 849px;
}

header {
  max-width: 1200px;
  min-height: 850px;
  background-image: url("../Assets/header3.png");
  background-size: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  background-clip: initial;
  -webkit-backdrop-filter: brightness(0.1) contrast(130%);
          backdrop-filter: brightness(0.1) contrast(130%);
}
header h1 {
  height: 150px;
  letter-spacing: 5px;
  animation: glow 1s ease-in-out infinite alternate;
  padding-top: 200px;
  padding-left: 100px;
}
@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ED9B40, 0 0 40px #ED9B40, 0 0 50px #ED9B40, 0 0 60px #ED9B40, 0 0 70px #ED9B40;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ffd046, 0 0 40px #ffd046, 0 0 50px #ffd046, 0 0 60px #ffd046, 0 0 70px #ffd046, 0 0 80px #ffd046;
  }
}

.summary {
  max-width: 1200px;
  text-align: center;
  margin: 100px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 60px 30px #292929, 0px 0px 100px 60px #6fffe9, 0px 0px 140px 90px #292929;
}
.summary p {
  font-family: "Orbitron", sans-serif;
  font-style: normal;
  line-height: 150%;
}

#zen-preamble {
  display: grid;
  background-color: #292929;
  padding-top: 50px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, min-max(100px, auto));
  border: 5px solid rgb(79, 239, 79);
  border-bottom: none;
  border-bottom: none;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
#zen-preamble h3 {
  max-width: 400px;
  text-align: center;
  grid-column: 1;
  grid-row: 1;
  align-self: flex-start;
  margin-top: 50px;
}
#zen-preamble p:nth-child(2) {
  grid-column: 2;
  grid-row: 1;
  margin-right: 50px;
  margin-top: 50px;
}
#zen-preamble p:nth-child(3) {
  grid-column: 2;
  grid-row: 2;
  margin-right: 50px;
}
#zen-preamble p:nth-child(4) {
  grid-column: 2;
  grid-row: 3;
  margin-right: 50px;
  margin-top: 7px;
}

@media only screen and (max-width: 64em) {
  header {
    min-height: 500px;
  }
  header h1 {
    padding-top: 100px;
  }
}
@media only screen and (max-width: 48em) {
  header {
    min-height: 450px;
  }
  header h1 {
    padding-top: 100px;
  }
  #zen-preamble {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
  }
  #zen-preamble h3 {
    margin: 0px 50px 20px 50px;
    align-self: center;
  }
  #zen-preamble p:nth-child(2) {
    margin: 0px 50px 0px 50px;
  }
  #zen-preamble p:nth-child(3) {
    margin: 0px 50px 0px 50px;
  }
  #zen-preamble p:nth-child(4) {
    margin: 0px 50px 0px 50px;
  }
}
@media only screen and (max-width: 40em) {
  header {
    min-height: 250px;
  }
  header h1 {
    padding-top: 20px;
    padding-left: 20px;
    height: 50px;
    font-size: 22px;
  }
  header h2 {
    margin-top: 0px;
    padding-left: 20px;
    font-size: 15px;
  }
}
h3 {
  font-family: "Orbitron", sans-serif;
  color: #56FF67;
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
}

h2 {
  font-family: "Orbitron", sans-serif;
  color: #F2F6F8;
  font-weight: 400;
  font-size: 2vw;
  letter-spacing: -0.0022em;
  margin-top: 33px;
  padding-left: 100px;
}

h1 {
  font-family: "Bebas Neue";
  color: #F2F6F8;
  font-weight: 600;
  font-size: 6vw;
  letter-spacing: -0.025em;
}

@media only screen and (max-width: 64em) {
  h3 {
    font-size: 26px;
  }
}
@media only screen and (max-width: 48em) {
  h3 {
    font-size: 22px;
  }
}
@media only screen and (min-width: 40em) {
  h3 {
    font-size: 22px;
  }
}
p {
  display: inline;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: #F2F6F8;
  letter-spacing: 3px;
}

a {
  color: #6fffe9;
  -webkit-text-decoration: dashed;
          text-decoration: dashed;
  font-family: "Orbitron", sans-serif;
}

@media only screen and (max-width: 48em) {
  p {
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 2px;
  }
  a {
    color: #6fffe9;
    -webkit-text-decoration: dashed;
            text-decoration: dashed;
    font-family: "Orbitron", sans-serif;
    font-size: 15px;
  }
}
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-image: url("../Assets/mw2.jpg");
  -webkit-backdrop-filter: brightness(-0.5) contrast(130%);
          backdrop-filter: brightness(-0.5) contrast(130%);
  border-radius: 10px;
  background-size: auto 100%;
  max-width: 1200px;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 850px;
}
.wrapper::before {
  content: "  By Dave Shea. Bandwidth graciously donated by mediatemple. Now available: Zen Garden, the book.";
  color: #F0A738;
  background-color: rgba(217, 217, 217, 0.4);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  max-width: 1000px;
  min-height: 100px;
  margin: 0 auto;
  font-family: "Orbitron", sans-serif;
  align-self: end;
  position: absolute;
  font-weight: 400;
  font-size: 33px;
  letter-spacing: -0.0022em;
  padding: 10px;
  text-shadow: -5px 4px 0px rgba(0, 0, 0, 0.6);
  text-align: center;
  margin: 50px;
  border-radius: 10px;
}

.design-selection {
  width: 320px;
  height: 450px;
  position: relative;
  perspective: 300px;
  display: inline-block;
  border-radius: 20px;
  margin-bottom: 70px;
}

.design-selection > .select.select::before {
  content: "";
  position: absolute;
  margin: 0 auto;
  background-color: rgba(217, 217, 217, 0.4);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  width: 270px;
  height: 70px;
  z-index: -1;
  border-radius: 10px;
  opacity: 1;
  transition: opacity 2s;
}

.design-selection:hover .select.select::before {
  content: "";
  opacity: 0;
  transition: opacity 0.2s;
}

.select {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background: url("Assets/a.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  z-index: 3;
  margin: 0px;
  color: #F0A738;
  font-size: 25px;
  z-index: 1;
  text-shadow: -5px 4px 0px rgba(0, 0, 0, 0.6);
}

/* back-side */
nav[role=navigation] {
  width: 100%;
  height: 100%;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 1s;
  transform: rotateY(180deg);
  border-radius: 20px;
  box-sizing: border-box;
  background-color: #1B2429;
  text-decoration: none;
  list-style: none;
  font-size: 10vw;
}

nav[role=navigation] a {
  font-size: 13px;
  text-decoration: none;
  line-height: 200%;
  letter-spacing: 0.09em;
  text-decoration-line: underline;
}

nav[role=navigation] ul {
  list-style: none;
  padding: 15px;
}

nav[role=navigation] ul > li {
  color: #6fffe9;
  text-decoration-line: underline;
  font-family: "Orbitron", sans-serif;
  font-size: 13px;
}

/* front-side  - hover*/
.design-selection:hover .select {
  transform: rotateY(180deg);
  border-radius: 20px;
}
.design-selection:hover .select .select ~ .select::before {
  content: none;
}

/* back-side - hover*/
.design-selection:hover nav[role=navigation] {
  transform: rotateY(360deg);
  background-color: #0b0e0f;
  border: 2px solid #6fffe9;
  border-radius: 20px;
}

/* ---------SECOND CARD*----------------*/
.design-archives {
  width: 320px;
  height: 450px;
  position: relative;
  perspective: 300px;
  display: inline-block;
  border-radius: 20px;
  margin-bottom: 70px;
}

.archives {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background: url("Assets/222.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  z-index: 3;
  margin: 0px;
  color: #F0A738;
  font-size: 25px;
  z-index: 1;
  text-shadow: -5px 4px 0px rgba(0, 0, 0, 0.6);
}

.design-archives .archives.archives::before {
  content: "";
  position: absolute;
  background-color: rgba(217, 217, 217, 0.4);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  width: 270px;
  height: 70px;
  z-index: -1;
  border-radius: 10px;
  opacity: 1;
  transition: opacity 2s;
}

.design-archives:hover .archives.archives::before {
  content: "";
  opacity: 0;
  transition: opacity 0.2s;
}

.design-archives nav[role=navigation] {
  font-size: 20px;
  width: 100%;
  height: 100%;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 1s;
  transform: rotateY(180deg);
  border-radius: 20px;
  box-sizing: border-box;
  background-color: #1B2429;
  text-decoration: none;
  list-style: none;
}

.design-archives:hover .archives {
  transform: rotateY(180deg);
  border-radius: 20px;
}

.design-archives:hover nav[role=navigation] {
  transform: rotateY(360deg);
  background-color: #0b0e0f;
  border: 2px solid #6fffe9;
  border-radius: 20px;
}

/*----------------------Third for you*----------------------/
/* whole card with two sides */
#zen-resources {
  width: 320px;
  height: 450px;
  position: relative;
  perspective: 300px;
  display: inline-block;
  border-radius: 20px;
  margin-bottom: 70px;
}

#zen-resources .resources.resources::before {
  content: "";
  position: absolute;
  background-color: rgba(217, 217, 217, 0.4);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  width: 270px;
  height: 70px;
  z-index: -1;
  border-radius: 10px;
  opacity: 1;
  transition: opacity 2s;
}

#zen-resources:hover .resources.resources::before {
  content: "";
  opacity: 0;
  transition: opacity 0.2s;
}

.resources {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background: url("Assets/3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  z-index: 3;
  margin: 0px;
  color: #F0A738;
  font-size: 25px;
  z-index: 1;
  text-shadow: -5px 4px 0px rgba(0, 0, 0, 0.6);
}

#zen-resources > ul {
  height: 100%;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1s;
  transform: rotateY(180deg);
  border-radius: 20px;
  background-color: black;
  padding-left: 25%;
  font-size: 13px;
  list-style: none;
  line-height: 200%;
}

#zen-resources:hover .resources {
  transform: rotateY(180deg);
  border-radius: 20px;
}

#zen-resources:hover > ul {
  transform: rotateY(360deg);
  background-color: #0b0e0f;
  border: 2px solid #6fffe9;
  border-radius: 20px;
}

footer {
  display: flex;
  flex-flow: column;
  min-height: -moz-fit-content;
  min-height: fit-content;
  justify-content: space-between;
  gap: 40px;
  margin-left: 10px;
  padding-bottom: 10px;
  max-width: 75px;
}
footer a {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
footer a.zen-validate-html {
  background-image: url("../Assets/Vectorhtml.svg");
  background-size: auto 75px;
  background-repeat: no-repeat;
  height: 75px;
  filter: invert(0%) sepia(0%) saturate(1352%) hue-rotate(77deg) brightness(100%) contrast(119%);
}
footer a.zen-validate-html:hover {
  scale: 1.2;
  transition: 0.5s;
}
@media only screen and (max-width: 48em) {
  footer a.zen-validate-html {
    background-size: auto 75px;
    background-repeat: no-repeat;
    height: 75px;
    width: 75px;
  }
}
@media only screen and (max-width: 40em) {
  footer a.zen-validate-html {
    background-size: auto 50px;
    height: 50px;
  }
}
footer a.zen-validate-css {
  background-image: url("../Assets/Vector_css.svg");
  background-size: auto 75px;
  background-repeat: no-repeat;
  height: 75px;
  filter: invert(0%) sepia(0%) saturate(1352%) hue-rotate(77deg) brightness(100%) contrast(119%);
}
footer a.zen-validate-css:hover {
  scale: 1.2;
  transition: 0.5s;
}
@media only screen and (max-width: 48em) {
  footer a.zen-validate-css {
    background-size: auto 75px;
    background-repeat: no-repeat;
    height: 75px;
    width: 75px;
  }
}
@media only screen and (max-width: 40em) {
  footer a.zen-validate-css {
    background-size: auto 50px;
    height: 50px;
  }
}
footer a.zen-license {
  background-image: url("../Assets/Vectorcc.svg");
  background-size: auto 75px;
  background-repeat: no-repeat;
  height: 75px;
  filter: invert(0%) sepia(0%) saturate(1352%) hue-rotate(77deg) brightness(100%) contrast(119%);
}
footer a.zen-license:hover {
  scale: 1.2;
  transition: 0.5s;
}
@media only screen and (max-width: 48em) {
  footer a.zen-license {
    background-size: auto 75px;
    background-repeat: no-repeat;
    height: 75px;
    width: 75px;
  }
}
@media only screen and (max-width: 40em) {
  footer a.zen-license {
    background-size: auto 50px;
    height: 50px;
  }
}
footer a.zen-accessibility {
  background-image: url("../Assets/Vector_acc.svg");
  background-size: auto 75px;
  background-repeat: no-repeat;
  height: 75px;
  filter: invert(0%) sepia(0%) saturate(1352%) hue-rotate(77deg) brightness(100%) contrast(119%);
}
footer a.zen-accessibility:hover {
  scale: 1.2;
  transition: 0.5s;
}
@media only screen and (max-width: 48em) {
  footer a.zen-accessibility {
    background-size: auto 75px;
    background-repeat: no-repeat;
    height: 75px;
    width: 75px;
  }
}
@media only screen and (max-width: 40em) {
  footer a.zen-accessibility {
    background-size: auto 50px;
    height: 50px;
  }
}
footer a.zen-github {
  background-image: url("../Assets/Vector_git.svg");
  background-size: auto 75px;
  background-repeat: no-repeat;
  height: 75px;
  filter: invert(0%) sepia(0%) saturate(1352%) hue-rotate(77deg) brightness(100%) contrast(119%);
}
footer a.zen-github:hover {
  scale: 1.2;
  transition: 0.5s;
}
@media only screen and (max-width: 48em) {
  footer a.zen-github {
    background-size: auto 75px;
    background-repeat: no-repeat;
    height: 75px;
    width: 75px;
  }
}
@media only screen and (max-width: 40em) {
  footer a.zen-github {
    background-size: auto 50px;
    height: 50px;
  }
}

@media only screen and (max-width: 64em) {
  .wrapper {
    max-width: 1024px;
  }
  .design-archives .archives.archives::before {
    width: 230px;
    height: 60px;
  }
  .design-selection > .select.select::before {
    width: 230px;
    height: 60px;
  }
  #zen-resources .resources.resources::before {
    content: "";
    width: 230px;
    height: 60px;
  }
  .design-selection {
    width: 280px;
    height: 410px;
  }
  .design-archives {
    width: 280px;
    height: 410px;
  }
  #zen-resources {
    width: 280px;
    height: 410px;
  }
}
@media only screen and (max-width: 48em) {
  .wrapper {
    max-width: 768px;
  }
  .design-archives .archives.archives::before {
    width: 200px;
    height: 50px;
  }
  .design-selection > .select.select::before {
    width: 200px;
    height: 50px;
  }
  #zen-resources .resources.resources::before {
    content: "";
    width: 200px;
    height: 50px;
  }
  .design-selection {
    width: 300px;
    height: 300px;
    margin-bottom: 0px;
  }
  .design-archives {
    width: 300px;
    height: 300px;
    margin-bottom: 0px;
  }
  #zen-resources {
    width: 300px;
    height: 300px;
    margin-bottom: 0px;
  }
  nav[role=navigation] a {
    font-size: 10px;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 1200px;
  }
  .wrapper::before {
    max-width: 600px;
    min-height: 100px;
    margin-bottom: 1000px;
    font-weight: 400;
    font-size: 23px;
  }
  .design-selection {
    margin-top: 200px;
  }
  .select {
    font-size: 22px;
  }
  footer {
    display: flex;
    flex-flow: row;
    min-height: -moz-fit-content;
    min-height: fit-content;
    justify-content: space-evenly;
    gap: 3px;
    margin: 20px 10px 20px 10px;
    padding-bottom: 10px;
    max-width: 100%;
  }
}
@media only screen and (max-width: 40em) {
  .wrapper::before {
    font-size: 18px;
  }
  .design-selection {
    margin-top: 250px;
  }
}
* {
  margin: 0;
  padding: 0;
}

html {
  max-width: 1200px;
  margin: 0 auto;
  background-color: rgb(31, 30, 30);
  border: 12px solid #292929;
}

body {
  max-width: 1200px;
  background-color: #292929;
}

.sidebar {
  width: 100%;
}

@media only screen and (max-width: 64em) {
  html {
    max-width: 1024px;
  }
  body {
    max-width: 1024px;
    background-color: #292929;
  }
}
@media only screen and (max-width: 48em) {
  html {
    max-width: 768px;
  }
  body {
    max-width: 768px;
    background-color: #292929;
  }
}/*# sourceMappingURL=style.css.map */