/* Andrew Wright's section */
/*Test 1,2,3*/

@import '../mixins/colors.scss', '../mixins/fonts.scss', '../mixins/headers.scss', '../mixins/paragraphs.scss', '../mixins/card_mixin.scss', '../mixins/paragraphs.css', '../mixins/main_mixins.scss';
.main {
        border: 5px solid $secondary-color;
        //box-shadow: 0 15px 0 green;
        // outline: 5px solid green;

        // outline-offset:-20px;  
        border-top: none;
        border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
        
}
.explanation {
    @include wrapper(1fr 1fr, repeat(2, min-max(100px, auto)));
	
	h3 {
        @include header(0px);
	}
	p:nth-child(2) {
        @include paragraph_mixin(2, 1);
        margin-right: 50px;
	}

	p:nth-child(3) {
        @include paragraph_mixin(2, 2);
	}

}

.participation {
    @include wrapper(1fr 1fr, repeat(3, min-max(100px, auto)));

	h3 {
        @include header(0px);
	}

    p:nth-child(2) {
        @include paragraph_mixin(2, 1);
	}

	p:nth-child(3) {
        @include paragraph_mixin(2, 2);
	}

    p:nth-child(4) {
        @include paragraph_mixin(2, 3);
	}
}

.benefits {

    @include wrapper(1fr 1fr, repeat(1, min-max(100px, auto)));

    h3 {
        @include header(0px);
	}

    p:nth-child(2) {
        @include paragraph_mixin(2, 1);
	}
}

.requirements {

    @include wrapper(1fr 1fr, repeat(5, min-max(100px, auto)));

    h3 {
        @include header(0px);
	}

    p:nth-child(2) {
        @include paragraph_mixin(2, 1);
	}

	p:nth-child(3) {
        @include paragraph_mixin(2, 2);
	}

    p:nth-child(4) {
        @include paragraph_mixin(2, 3);
	}

    p:nth-child(5) {
        @include paragraph_mixin(2, 4);
	}

	p:nth-child(6) {
       display: none;
	}

}