/* Andrew Wright's section */
/*Test 1,2,3*/
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit&family=Montserrat&family=Orbitron:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit&family=Montserrat&family=Orbitron:wght@600&display=swap");
@import '../mixins/paragraphs.css';
h3 {
  font-family: "Orbitron", sans-serif;
  color: #56FF67;
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
}

h2 {
  font-family: "Orbitron", sans-serif;
  color: #F2F6F8;
  font-weight: 400;
  font-size: 2vw;
  letter-spacing: -0.0022em;
  margin-top: 33px;
  padding-left: 100px;
}

h1 {
  font-family: "Bebas Neue";
  color: #F2F6F8;
  font-weight: 600;
  font-size: 6vw;
  letter-spacing: -0.025em;
}

@media only screen and (max-width: 64em) {
  h3 {
    font-size: 26px;
  }
}
@media only screen and (max-width: 48em) {
  h3 {
    font-size: 22px;
  }
}
@media only screen and (min-width: 40em) {
  h3 {
    font-size: 22px;
  }
}
p {
  display: inline;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: #F2F6F8;
  letter-spacing: 3px;
}

a {
  color: #6fffe9;
  -webkit-text-decoration: dashed;
          text-decoration: dashed;
  font-family: "Orbitron", sans-serif;
}

@media only screen and (max-width: 48em) {
  p {
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 2px;
  }
  a {
    color: #6fffe9;
    -webkit-text-decoration: dashed;
            text-decoration: dashed;
    font-family: "Orbitron", sans-serif;
    font-size: 15px;
  }
}
.main {
  border: 5px solid #56FF67;
  border-top: none;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.explanation {
  display: grid;
  background-color: #292929;
  padding-top: 50px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, min-max(100px, auto));
  display: grid;
  height: -moz-fit-content;
  height: fit-content;
}
.explanation h3 {
  max-width: 400px;
  text-align: center;
  grid-column: 1;
  grid-row: 1;
  align-self: flex-start;
  margin-top: 0px;
}
.explanation p:nth-child(2) {
  grid-column: 2;
  grid-row: 1;
  margin-right: 50px;
}
.explanation p:nth-child(3) {
  grid-column: 2;
  grid-row: 2;
  margin-right: 50px;
}

.participation {
  display: grid;
  background-color: #292929;
  padding-top: 50px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, min-max(100px, auto));
  display: grid;
  height: -moz-fit-content;
  height: fit-content;
}
.participation h3 {
  max-width: 400px;
  text-align: center;
  grid-column: 1;
  grid-row: 1;
  align-self: flex-start;
  margin-top: 0px;
}
.participation p:nth-child(2) {
  grid-column: 2;
  grid-row: 1;
  margin-right: 50px;
}
.participation p:nth-child(3) {
  grid-column: 2;
  grid-row: 2;
  margin-right: 50px;
}
.participation p:nth-child(4) {
  grid-column: 2;
  grid-row: 3;
  margin-right: 50px;
}

.benefits {
  display: grid;
  background-color: #292929;
  padding-top: 50px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, min-max(100px, auto));
  display: grid;
  height: -moz-fit-content;
  height: fit-content;
}
.benefits h3 {
  max-width: 400px;
  text-align: center;
  grid-column: 1;
  grid-row: 1;
  align-self: flex-start;
  margin-top: 0px;
}
.benefits p:nth-child(2) {
  grid-column: 2;
  grid-row: 1;
  margin-right: 50px;
}

.requirements {
  display: grid;
  background-color: #292929;
  padding-top: 50px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, min-max(100px, auto));
  display: grid;
  height: -moz-fit-content;
  height: fit-content;
}
.requirements h3 {
  max-width: 400px;
  text-align: center;
  grid-column: 1;
  grid-row: 1;
  align-self: flex-start;
  margin-top: 0px;
}
.requirements p:nth-child(2) {
  grid-column: 2;
  grid-row: 1;
  margin-right: 50px;
}
.requirements p:nth-child(3) {
  grid-column: 2;
  grid-row: 2;
  margin-right: 50px;
}
.requirements p:nth-child(4) {
  grid-column: 2;
  grid-row: 3;
  margin-right: 50px;
}
.requirements p:nth-child(5) {
  grid-column: 2;
  grid-row: 4;
  margin-right: 50px;
}
.requirements p:nth-child(6) {
  display: none;
}

@media only screen and (max-width: 48em) {
  .explanation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .explanation h3 {
    align-self: center;
    margin: 20px;
  }
  .explanation p:nth-child(2) {
    margin: 0px 50px 0px 50px;
  }
  .explanation p:nth-child(3) {
    margin: 0px 50px 0px 50px;
  }
  .participation {
    display: flex;
    flex-direction: column;
  }
  .participation h3 {
    align-self: center;
    margin: 20px;
  }
  .participation p:nth-child(2) {
    margin: 0px 50px 0px 50px;
  }
  .participation p:nth-child(3) {
    margin: 0px 50px 0px 50px;
  }
  .participation p:nth-child(4) {
    margin: 0px 50px 0px 50px;
  }
  .benefits {
    display: flex;
    flex-direction: column;
  }
  .benefits h3 {
    align-self: center;
    margin: 20px;
  }
  .benefits p:nth-child(2) {
    margin: 0px 50px 0px 50px;
  }
  .requirements {
    display: flex;
    flex-direction: column;
  }
  .requirements h3 {
    align-self: center;
    margin: 20px;
  }
  .requirements p:nth-child(2) {
    margin: 0px 50px 0px 50px;
  }
  .requirements p:nth-child(3) {
    margin: 0px 50px 0px 50px;
  }
  .requirements p:nth-child(4) {
    margin: 0px 50px 0px 50px;
  }
  .requirements p:nth-child(5) {
    margin: 0px 50px 0px 50px;
  }
  .requirements p:nth-child(6) {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */