@import '../mixins/colors.scss', '../mixins/fonts.scss', '../mixins/headers.scss', '../mixins/paragraphs.scss', '../mixins/card_mixin.scss';
$card_header_size: 25px;
$card_bg_header_width: 270px;
$card_bg_header_height: 70px;

.wrapper {
	display: flex;
	flex-direction: row; 
	width: 100%;
	justify-content: space-around;
	align-items: center;
	background: url('Assets/mw.jpeg');
	background-size: 100% 100%;
	width: 1200px;
	height: fit-content;
}


.design-selection{
	@include card();
}

.design-selection>.select{
	&.select::before{
		content: '';
		position: absolute;
		margin: 0 auto;
		background-color: rgba(217, 217, 217, 0.4);
		backdrop-filter: blur(2px);
		width: $card_bg_header_width;
		height: $card_bg_header_height;
		z-index: -1;
		border-radius: 10px;
		opacity: 1;
		transition: opacity 2s;
	}
}
.design-selection:hover .select{
	&.select::before{
		content: '';
		opacity: 0;
		transition: opacity 0.2s;
	}
}



.select {
	@include front-side('Assets/a.jpg');
	color: #F0A738;
	font-size: $card_header_size;
	z-index: 1;
	text-shadow: -5px 4px 0px rgba(0, 0, 0, 0.6);
}



/* back-side */
nav[role=navigation] { 
    @include back-side();
  }

nav[role=navigation]  a {

	font-size: 25px;
	text-decoration: none;
	color: aliceblue;
  }

  
  nav[role=navigation] ul{
	list-style: none;
  }



  /* front-side  - hover*/
.design-selection:hover {

	.select {
		@include front-side-hover();
		.select~.select::before{
			content:none;
		}
	}
}

/* back-side - hover*/

.design-selection:hover {

	nav[role="navigation"] {
		@include back-side-hover();
	}
}







/* ---------SECOND CARD*----------------*/
.design-archives{
	@include card();
}

.archives{
	@include front-side('Assets/222.jpg');
	color: #F0A738;
	font-size: $card_header_size;
	z-index: 1;
	text-shadow: -5px 4px 0px rgba(0, 0, 0, 0.6);
}

.design-archives .archives{
	&.archives::before{
		content: '';
		position: absolute;
		background-color: rgba(217, 217, 217, 0.4);
		backdrop-filter: blur(2px);
		width: $card_bg_header_width;
		height: $card_bg_header_height;
		z-index: -1;
		border-radius: 10px;
		opacity: 1;
		transition: opacity 2s;
	}
}
.design-archives:hover .archives{
	&.archives::before{
		content: '';
		opacity: 0;
		transition: opacity 0.2s;
	}
}


.design-archives {

	nav[role="navigation"]
	{
		@include back-side();
	}
  }

.design-archives:hover {

	.archives {
		@include front-side-hover();
	}
	
	
}
.design-archives:hover {
	nav[role="navigation"] {
		@include back-side-hover();		
	}
}






/*----------------------Third for you*----------------------/
/* whole card with two sides */
#zen-resources {
	@include card();
}


#zen-resources .resources{
	&.resources::before{
		content: '';
		position: absolute;
		background-color: rgba(217, 217, 217, 0.4);
		backdrop-filter: blur(2px);
		width:  $card_bg_header_width;
		height: $card_bg_header_height;
		z-index: -1;
		border-radius: 10px;
		opacity: 1;
		transition: opacity 2s;
		
	}
}

#zen-resources:hover .resources{
	&.resources::before{
		content: '';
		opacity: 0;
		transition: opacity 0.2s;
	}
}
.resources{ //, #zen-resources>ul
	@include front-side('Assets/3.jpg');
	color: #F0A738;
	font-size: $card_header_size;
	z-index: 1;
	text-shadow: -5px 4px 0px rgba(0, 0, 0, 0.6);
}

#zen-resources ul{
	@include back-side();
	padding: 0px;
  }

#zen-resources:hover .resources {
	@include front-side-hover();
}

 #zen-resources:hover>ul{
	@include back-side-hover();
}