@import '../mixins/colors.scss', '../mixins/fonts.scss', '../mixins/headers.scss', '../mixins/paragraphs.scss', '../mixins/card_mixin.scss';
$card_header_size: 25px;
$card_bg_header_width: 270px;
$card_bg_header_height: 70px;

.wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background-image: url('../Assets/mw2.jpg');
	backdrop-filter: brightness(-0.5) contrast(130%);
	border-radius: 10px;
	background-size: auto 100%;
	max-width: 1200px;
	height: fit-content;
	min-height: 850px;

	&::before {
		content: "  By Dave Shea. Bandwidth graciously donated by mediatemple. Now available: Zen Garden, the book.";
		color: #F0A738;
		background-color: rgba(217, 217, 217, 0.4);
		backdrop-filter: blur(2px);
		max-width: 1000px;
		min-height: 100px;
		margin: 0 auto;
		font-family: $heading-font;
		align-self: end;
		position: absolute;
		font-weight: 400;
		font-size: 33px;
		letter-spacing: -0.0022em;
		padding: 10px;
		text-shadow: -5px 4px 0px rgba(0, 0, 0, 0.6);
		text-align: center;
		margin: 50px;
		border-radius: 10px;
	}

}




.design-selection {
	@include card(320px, 450px);

}

.design-selection>.select {
	&.select::before {
		content: '';
		position: absolute;
		margin: 0 auto;
		background-color: rgba(217, 217, 217, 0.4);
		backdrop-filter: blur(2px);
		width: $card_bg_header_width;
		height: $card_bg_header_height;
		z-index: -1;
		border-radius: 10px;
		opacity: 1;
		transition: opacity 2s;
	}
}

.design-selection:hover .select {
	&.select::before {
		content: '';
		opacity: 0;
		transition: opacity 0.2s;
	}
}



.select {
	@include front-side('Assets/a.jpg');
	color: #F0A738;
	font-size: $card_header_size;
	z-index: 1;
	text-shadow: -5px 4px 0px rgba(0, 0, 0, 0.6);
}



/* back-side */
nav[role=navigation] {
	@include back-side();
	font-size: 10vw;
}

nav[role=navigation] a {

	font-size: 13px;
	text-decoration: none;
	//color: aliceblue;
	line-height: 200%;
	letter-spacing: 0.09em;
	text-decoration-line: underline;
}


nav[role=navigation] ul {
	list-style: none;
	padding: 15px;


}

nav[role=navigation] ul>li {
	color: #6fffe9;
	text-decoration-line: underline;
	font-family: $heading-font;
	font-size: 13px;
}



/* front-side  - hover*/
.design-selection:hover {

	.select {
		@include front-side-hover();

		.select~.select::before {
			content: none;
		}
	}
}

/* back-side - hover*/

.design-selection:hover {

	nav[role="navigation"] {
		@include back-side-hover();
	}
}







/* ---------SECOND CARD*----------------*/
.design-archives {
	@include card(320px, 450px);
}

.archives {
	@include front-side('Assets/222.jpg');
	color: #F0A738;
	font-size: $card_header_size;
	z-index: 1;
	text-shadow: -5px 4px 0px rgba(0, 0, 0, 0.6);
}

.design-archives .archives {
	&.archives::before {
		content: '';
		position: absolute;
		background-color: rgba(217, 217, 217, 0.4);
		backdrop-filter: blur(2px);
		width: $card_bg_header_width;
		height: $card_bg_header_height;
		z-index: -1;
		border-radius: 10px;
		opacity: 1;
		transition: opacity 2s;
	}
}

.design-archives:hover .archives {
	&.archives::before {
		content: '';
		opacity: 0;
		transition: opacity 0.2s;
	}
}


.design-archives {

	nav[role="navigation"] {
		font-size: 20px;
		@include back-side();
	}
}

.design-archives:hover {

	.archives {
		@include front-side-hover();
	}


}

.design-archives:hover {
	nav[role="navigation"] {
		@include back-side-hover();
	}
}






/*----------------------Third for you*----------------------/
/* whole card with two sides */
#zen-resources {
	@include card(320px, 450px);
}


#zen-resources .resources {
	&.resources::before {
		content: '';
		position: absolute;
		background-color: rgba(217, 217, 217, 0.4);
		backdrop-filter: blur(2px);
		width: $card_bg_header_width;
		height: $card_bg_header_height;
		z-index: -1;
		border-radius: 10px;
		opacity: 1;
		transition: opacity 2s;

	}
}

#zen-resources:hover .resources {
	&.resources::before {
		content: '';
		opacity: 0;
		transition: opacity 0.2s;
	}
}

.resources {
	//, #zen-resources>ul
	@include front-side('Assets/3.jpg');
	color: #F0A738;
	font-size: $card_header_size;
	z-index: 1;
	text-shadow: -5px 4px 0px rgba(0, 0, 0, 0.6);
}

#zen-resources>ul {

	height: 100%;
	margin: 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	//align-content: space-around;
	transition: 1s;
	transform: rotateY(180deg);
	border-radius: 20px;
	background-color: black;
	padding-left: 25%;
	font-size: 13px;
	//text-decoration: none;
	list-style: none;
	line-height: 200%;
}



#zen-resources:hover .resources {
	@include front-side-hover();
}

#zen-resources:hover>ul {
	@include back-side-hover();
}

footer {
	display: flex;
	flex-flow: column;
	min-height: fit-content;
	justify-content: space-between;
	gap: 40px;
	margin-left: 10px;
	padding-bottom: 10px;
	max-width: 75px;



	a {
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;


		&.zen-validate-html {
			@include footer('../Assets/Vectorhtml.svg');
			// height: 75px;

		}

		&.zen-validate-css {
			@include footer('../Assets/Vector_css.svg');
			// height: 75px;
		}

		&.zen-license {
			@include footer('../Assets/Vectorcc.svg');
			// height: 75px;
		}

		&.zen-accessibility {
			@include footer('../Assets/Vector_acc.svg');
			// height: 75px;
		}

		&.zen-github {
			@include footer('../Assets/Vector_git.svg');
			// height: 75px;
		}

	}

}


@media only screen and (max-width: 64em) {
	$card_bg_header_width: 230px;
	$card_bg_header_height: 60px;

	.wrapper {
		max-width: 1024px;
	}

	.design-archives .archives {
		&.archives::before {
			width: $card_bg_header_width;
			height: $card_bg_header_height;
		}
	}

	.design-selection>.select {
		&.select::before {
			width: $card_bg_header_width;
			height: $card_bg_header_height;
		}
	}

	#zen-resources .resources {
		&.resources::before {
			content: '';
			width: $card_bg_header_width;
			height: $card_bg_header_height;

		}
	}

	.design-selection {
		width: 280px;
		height: 410px;

	}

	.design-archives {
		width: 280px;
		height: 410px;
	}

	#zen-resources {
		width: 280px;
		height: 410px;
	}

}



@media only screen and (max-width: 48em) {
	$card_bg_header_width: 200px;
	$card_bg_header_height: 50px;

	.wrapper {
		max-width: 768px;
	}

	.design-archives .archives {
		&.archives::before {
			width: $card_bg_header_width;
			height: $card_bg_header_height;
		}
	}

	.design-selection>.select {
		&.select::before {
			width: $card_bg_header_width;
			height: $card_bg_header_height;
		}
	}

	#zen-resources .resources {
		&.resources::before {
			content: '';
			width: $card_bg_header_width;
			height: $card_bg_header_height;

		}
	}

	.design-selection {
		width: 300px;
		height: 300px;
		margin-bottom: 0px;

	}

	.design-archives {
		width: 300px;
		height: 300px;
		margin-bottom: 0px;
	}

	#zen-resources {
		width: 300px;
		height: 300px;
		margin-bottom: 0px;
	}


	nav[role=navigation] a {
		font-size: 10px;
	}

	.wrapper {
		display: flex;
		flex-direction: column;
		min-height: 1200px;

		&::before {
			max-width: 600px;
			min-height: 100px;
			margin-bottom: 1000px;
			font-weight: 400;
			font-size: 23px;
		}
	}

	.design-selection {
		margin-top: 200px;

	}
	.select {
		font-size: 22px;
	}

	footer {
		display: flex;
		flex-flow: row;
		min-height: fit-content;
		justify-content: space-evenly;
		gap: 3px;
		margin: 20px 10px 20px 10px;
		padding-bottom: 10px;
		max-width: 100%;


	}

}

@media only screen and (max-width: 40em) {
	
	.wrapper {

		&::before {
			font-size: 18px;
		}
	}
	.design-selection {
		margin-top: 250px;

	}


}