@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit&family=Montserrat&family=Orbitron:wght@600&display=swap');

$header-font-family: 'Bebas Neue';
$heading-font: 'Orbitron', sans-serif;
$paragraph-font: 'Montserrat', sans-serif;
$footer-font: 'Kanit', sans-serif;