p{
    display: inline;
    font-family: $paragraph-font;
    font-weight: 500;
    font-size: 22px;
    color: $primary-color;
    letter-spacing: 3px;
}

a {
    color: #6fffe9;
    text-decoration: dashed;
    font-family: $heading-font;
}


@media only screen and (max-width: 48em) {
    p{
        font-weight: 400;
        font-size: 15px;
        letter-spacing: 2px;
    }
    
    a {
        color: #6fffe9;
        text-decoration: dashed;
        font-family: $heading-font;
        font-size: 15px;
        
    }
}