@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit&family=Montserrat&family=Orbitron:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit&family=Montserrat&family=Orbitron:wght@600&display=swap");
h3 {
  font-family: "Orbitron", sans-serif;
  color: #56FF67;
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
}

h2 {
  font-family: "Orbitron", sans-serif;
  color: #F2F6F8;
  font-weight: 400;
  font-size: 2vw;
  letter-spacing: -0.0022em;
  margin-top: 33px;
  padding-left: 100px;
}

h1 {
  font-family: "Bebas Neue";
  color: #F2F6F8;
  font-weight: 600;
  font-size: 6vw;
  letter-spacing: -0.025em;
}

@media only screen and (max-width: 64em) {
  h3 {
    font-size: 26px;
  }
}
@media only screen and (max-width: 48em) {
  h3 {
    font-size: 22px;
  }
}
@media only screen and (min-width: 40em) {
  h3 {
    font-size: 22px;
  }
}
p {
  display: inline;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: #F2F6F8;
  letter-spacing: 3px;
}

a {
  color: #6fffe9;
  -webkit-text-decoration: dashed;
          text-decoration: dashed;
  font-family: "Orbitron", sans-serif;
}

@media only screen and (max-width: 48em) {
  p {
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 2px;
  }
  a {
    color: #6fffe9;
    -webkit-text-decoration: dashed;
            text-decoration: dashed;
    font-family: "Orbitron", sans-serif;
    font-size: 15px;
  }
}
/*--------------------- Header---------------- */
.intro {
  max-width: 1200px;
  min-height: 850px;
  color: #F2F6F8;
  min-height: 849px;
}

header {
  max-width: 1200px;
  min-height: 850px;
  background-image: url("../Assets/header3.png");
  background-size: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  background-clip: initial;
  -webkit-backdrop-filter: brightness(0.1) contrast(130%);
          backdrop-filter: brightness(0.1) contrast(130%);
}
header h1 {
  height: 150px;
  letter-spacing: 5px;
  animation: glow 1s ease-in-out infinite alternate;
  padding-top: 200px;
  padding-left: 100px;
}
@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ED9B40, 0 0 40px #ED9B40, 0 0 50px #ED9B40, 0 0 60px #ED9B40, 0 0 70px #ED9B40;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ffd046, 0 0 40px #ffd046, 0 0 50px #ffd046, 0 0 60px #ffd046, 0 0 70px #ffd046, 0 0 80px #ffd046;
  }
}

.summary {
  max-width: 1200px;
  text-align: center;
  margin: 100px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 60px 30px #292929, 0px 0px 100px 60px #6fffe9, 0px 0px 140px 90px #292929;
}
.summary p {
  font-family: "Orbitron", sans-serif;
  font-style: normal;
  line-height: 150%;
}

#zen-preamble {
  display: grid;
  background-color: #292929;
  padding-top: 50px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, min-max(100px, auto));
  border: 5px solid rgb(79, 239, 79);
  border-bottom: none;
  border-bottom: none;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
#zen-preamble h3 {
  max-width: 400px;
  text-align: center;
  grid-column: 1;
  grid-row: 1;
  align-self: flex-start;
  margin-top: 50px;
}
#zen-preamble p:nth-child(2) {
  grid-column: 2;
  grid-row: 1;
  margin-right: 50px;
  margin-top: 50px;
}
#zen-preamble p:nth-child(3) {
  grid-column: 2;
  grid-row: 2;
  margin-right: 50px;
}
#zen-preamble p:nth-child(4) {
  grid-column: 2;
  grid-row: 3;
  margin-right: 50px;
  margin-top: 7px;
}

@media only screen and (max-width: 64em) {
  header {
    min-height: 500px;
  }
  header h1 {
    padding-top: 100px;
  }
}
@media only screen and (max-width: 48em) {
  header {
    min-height: 450px;
  }
  header h1 {
    padding-top: 100px;
  }
  #zen-preamble {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
  }
  #zen-preamble h3 {
    margin: 0px 50px 20px 50px;
    align-self: center;
  }
  #zen-preamble p:nth-child(2) {
    margin: 0px 50px 0px 50px;
  }
  #zen-preamble p:nth-child(3) {
    margin: 0px 50px 0px 50px;
  }
  #zen-preamble p:nth-child(4) {
    margin: 0px 50px 0px 50px;
  }
}
@media only screen and (max-width: 40em) {
  header {
    min-height: 250px;
  }
  header h1 {
    padding-top: 20px;
    padding-left: 20px;
    height: 50px;
    font-size: 22px;
  }
  header h2 {
    margin-top: 0px;
    padding-left: 20px;
    font-size: 15px;
  }
  .summary {
    font-size: 8px;
    margin: 80px;
  }
}/*# sourceMappingURL=header.css.map */